## Python Type system

Python can be characterized as having a **dynamic** and **strong** type system.

### Dynamic typing
The **type** of an object isn't resolved until the program in run.

In [1]:
def add(a, b):
    return a + b

# Nowhere in the defenition we mention any types

In [2]:
# call it with integers
add(1, 3)

4

In [3]:
# call it with strings
add("hello", "world")

'helloworld'

In [4]:
# call it with lists
add([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [7]:
# Strong Typing. They need to be the same type
# Try mixed objects
add(str(1), "hello")

'1hello'

## Variable Declaration and Scope

Type declaration are not necessary in Python, and variables are essentially just untyped name binding to objects. 

### Identical anmes in global and local scope
When you need to rebind a global name at module scope follow the next rules: 

#### The LEGB Rule
The are four types of scopes:
* **Local**: names defined inside the currect function
* **Enclosing**: names defined inside any and all enclosing functions. 
* **Global**: names defined at the top-level of a module
* **Built-in**: names built-in to the Python language through the special **builtins** module

# Collections
We have already test these colletions:
* **str** the immutable string sequence of Unicode code points
* **list** the mutable sequence of objects
* **dict** the mutable mapping of immutable keys to mutable objects

Some new collections: 
* **tuple** the immutable sequence of objects
* **range** for arithmetic progression of integers
* **set** a mutable collection of unique, immutable objects

## Tuple
Similar to list but they are delimited by **parenthesis** rather than square brackets

Access members by *index* notation with **[ ]**

In [9]:
t = ("Ogden", 1.99, 2)
print(t)
print(type(t))

('Ogden', 1.99, 2)
<class 'tuple'>

In [10]:
t[0]

'Ogden'

In [11]:
# Get the length
len(t)

3

In [12]:
# Iterate over a tuple
for item in t:
    print(item)

Ogden
1.99
2

### Concatenation and Repetition of Tuples

In [13]:
# Concatenation
t + ("hello", "you", 3)

('Ogden', 1.99, 2, 'hello', 'you', 3)

In [14]:
# Repetition
t * 2

('Ogden', 1.99, 2, 'Ogden', 1.99, 2)

### Nested Tuples

In [15]:
a = ((220, 284), (1184, 1210), (6233, 1234))
a

((220, 284), (1184, 1210), (6233, 1234))

In [16]:
# Access individual members (index notation)
a[2][0]

6233

In [20]:
# Single element tuple
h = (342,) # add a comma at the end
print(h)
print(type(h))

(342,)
<class 'tuple'>

In [21]:
# Empty tuple
e = ()
print(e)
print(type(e))

()
<class 'tuple'>

In [22]:
# Optional parenthesis
p = 1, 1, 3, 7, 2
p

(1, 1, 3, 7, 2)

In [23]:
type(p)

tuple

### Returning and Unpacking Tuples
This is often used when returning multiple values from a function.

In [25]:
# functions returns min and max
def minmax(items):
    return min(items), max(items)

a = minmax([3, 5, 1, -99, 45])
print(a)
print(type(a))

(-99, 45)
<class 'tuple'>

In [26]:
print(a[0])
print(a[1])

-99
45

Returninng multiple values from a function as a tuple is often used in conjunction with a feature called **tuple unpacking**

In [27]:
lower, upper = minmax([3, 5, 1, -99, 45])
print(lower)
print(upper)

-99
45

#### Task:
Swap values of variables with tuple unpacking

In [28]:
a = "jelly"
b = "bean"
print(a)
print(b)
a, b = b, a
print(a)
print(b)

jelly
bean
bean
jelly

### Tuple constructor: tuple(*iterable*)

In [29]:
#list to tuple
tuple([1, 7, 8, 2, 33, 44])

(1, 7, 8, 2, 33, 44)

In [31]:
# string to tuple
tuple("Weber State")

('W', 'e', 'b', 'e', 'r', ' ', 'S', 't', 'a', 't', 'e')

### Test Membership

In [32]:
5 in (3, 5, 7, 11, 77)

True

In [33]:
5 not in (3, 5, 7, 11, 77)

False

# Strings

### Find the size of the string with len()

In [34]:
len("This is a long string")

21

### Concatenation of strings

In [35]:
"New" + " " + "world"

'New world'

In [36]:
s = "Part1"
s += " Part2"
s += " Part3"
s

'Part1 Part2 Part3'

### Joining strings
The recomendation is to sue the built-in **join()** instead of += beacuse is more efficient with memory. 

The **join()** method takes a collection of strings as an argument and produces a new string by inserting a separator between each of them.

In [38]:
teams = ";".join(["Utah Jazz", "LA Lakers", "Boston Celtics"])
print(teams)

Utah Jazz;LA Lakers;Boston Celtics

In [39]:
w = "".join(["high","low"])
w

'highlow'

### Spliting a string with split()

In [40]:
teams.split(';')

['Utah Jazz', 'LA Lakers', 'Boston Celtics']

### Partitioning Strings with partition()
This method returns a tuple.

In [41]:
departure, separator, arrival = "London:Edinburg".partition(':')
print(departure)
print(separator)
print(arrival)

London
:
Edinburg

In [42]:
# Dummy object
departure, _, arrival = "London:Edinburg".partition(':')
print(departure)
print(arrival)

London
Edinburg

### String Formating with format()
This method can be used on any string containing so-called replacement fields which are surrounded by curly braces.

In [43]:
print("The age of {0} is {1}".format("Mario", 21))

The age of Mario is 21

In [44]:
# You can repeat parameter in the string
print("The age of {0} is {1}. {0}'s birthday is on the {2}".format(
'Mario', 21, "February"))

The age of Mario is 21. Mario's birthday is on the February

In [45]:
# If the field names are used once, and int he same
# order as the arguments, they can be ommited
print("Reticulating spline {} of {}".format(4, 23))

Reticulating spline 4 of 23

In [47]:
# keyword arguments are supplied to the format() then named fields
# can be used instead of ordinals:
print("Curent position: {lat} {log}".format(lat="60N", log="5E"))

Curent position: 60N 5E

In [48]:
# you can use index into the sequence using square brackets
print("Galactic position x={pos[0]}, y={pos[1]}, z={pos[2]}".format(
pos=(65.2, 23.1, 82.9)))

Galactic position x=65.2, y=23.1, z=82.9

Other string methods: **>>> help(str)**

# Range use range()
A range is used to represent an arithmetic progression of integers.

In [49]:
range(5)

range(0, 5)

In [50]:
# iterate over it
# Default initial value is 0
for i in range(5):
    print(i)

0
1
2
3
4

In [52]:
# Set the initial value
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [53]:
# cast it to a list
list(range(10, 15))

[10, 11, 12, 13, 14]

In [54]:
# Combine multiple
list(range(5, 10)) + list(range(15, 20))

[5, 6, 7, 8, 9, 15, 16, 17, 18, 19]

In [55]:
# Set the step argument:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
# in reverse order
list(range(20, -1, -1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [61]:
# Not using range to enumerate: The example below is poor style
s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [63]:
# the above code is VERY unpythonic. 
# Python in NOT C
for v in s:
    print(v)

0
1
4
6
13

IF you need a counter, then use the **enumerate()** function which returns an iterable series:

In [65]:
t = [6, 11, 33, 444, 55, 1]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 11)
(2, 33)
(3, 444)
(4, 55)
(5, 1)

In [66]:
# Unpack the tuple
for i, v in enumerate(t):
    print("i = {0}, v = {1}".format(i, v))

i = 0, v = 6
i = 1, v = 11
i = 2, v = 33
i = 3, v = 444
i = 4, v = 55
i = 5, v = 1

# List
Heterogenous mutable sequence
* Square brackets 
* Uses index notation

In [70]:
s = "Show me the money".split()
s

['Show', 'me', 'the', 'money']

In [71]:
s[3]

'money'

In [72]:
# Negative indexing
s[-1]

'money'

In [73]:
s[-2] # one before the last

'the'

In [74]:
# this notation is better than C-Style
s[len(s)-2]

'the'

## Slicing List

In [75]:
s = [3, 185, 22, 44, 90, -2, 33]
print(s)

[3, 185, 22, 44, 90, -2, 33]

In [76]:
# Slice a range of indexes
s[1:4]

[185, 22, 44]

In [78]:
s[1:-1] # strip ends

[185, 22, 44, 90, -2]

In [79]:
# starting position until the end
s[2:]

[22, 44, 90, -2, 33]

In [81]:
print(s)
print(s[:3])

[3, 185, 22, 44, 90, -2, 33]
[3, 185, 22]

In [82]:
# get everything
s[:] # full slice

[3, 185, 22, 44, 90, -2, 33]

In [84]:
full_slice = s[:] # deep copy??. It creates its own
full_slice is s

False

In [85]:
# Same values?
full_slice == s

True

## Copy list

In [86]:
t = s # shallow copy
# Are you the same object?
t is s

True

To copy a list, use the **copy()** method instead of full slice

In [87]:
u = s.copy()
u is s

False

In [89]:
# Simply call the list()
v = list(s)
v is s

False

## Shallow copies
Copy the references not the values

In [90]:
a = [[1,2], [3,4]]
a

[[1, 2], [3, 4]]

In [91]:
# make a copy with full slice
b = a[:]
a is b

False

In [92]:
# same values
a == b

True

In [93]:
# Modify one list
print(a[0])
print(b[0])

[1, 2]
[1, 2]

In [94]:
a[0] is b[0]

True

In [95]:
# The above statement is TRUE, because, ALL copies are shallow
a[0] = [8, 9]
print(a[0])
print(b[0])

[8, 9]
[1, 2]

In [96]:
a[1].append(5)
print(a)
print(b)

[[8, 9], [3, 4, 5]]
[[1, 2], [3, 4, 5]]

## Repeating a list
As for strings and tuples, list support repetition using the multiplication operator

In [97]:
c = [21, 37]
d = c * 4
print(d)

[21, 37, 21, 37, 21, 37, 21, 37]

In [98]:
# Good to initialize values
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [99]:
# Be aware of repetition.
s = [[-1, 1]] * 5
print(s)

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [100]:
# modify one member
s[2].append(7)
print(s)

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [101]:
s[1] = [3, 4, 5]
print(s)

[[-1, 1, 7], [3, 4, 5], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

Find the first element using **index()**

In [103]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [104]:
# get the index
w.index('fox')

3

In [105]:
w.index('the')

0

In [106]:
w.index("unicorn")

ValueError: 'unicorn' is not in list

To count instances of a value in a list use **count()**

In [107]:
w.count("the")

2

Test membership with **count()** or **in** and **not in**

In [108]:
37 in [1, 4, 6, 37]

True

In [109]:
78 not in [1, 78, 33, 22]

False

### Remove elements from list with del()

In [110]:
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [111]:
del w[3]
print(w)

['the', 'quick', 'brown', 'jumps', 'over', 'the', 'lazy', 'dog']

In [115]:
# Also remove
w.remove("jumps")
print(w)

ValueError: list.remove(x): x not in list

#### Insert() Method

Accepts the indes of the new item and the new item itself

In [116]:
a = "I accidentally exploted the universe".split()
print(a)

['I', 'accidentally', 'exploted', 'the', 'universe']

In [117]:
a.insert(4,"whole")
print(a)

['I', 'accidentally', 'exploted', 'the', 'whole', 'universe']

### Concatenation of list

In [118]:
m  = [1, 2, 3]
n = [4, 5, 6]
k = m + n
print(k)

[1, 2, 3, 4, 5, 6]

In [121]:
# Where the augmented assignment operator +=
# modifies the assignee in place:
print(t)
t += [18, 34, 99]
print(t)

[3, 185, 22, 44, 90, -2, 33, 18, 34, 99]
[3, 185, 22, 44, 90, -2, 33, 18, 34, 99, 18, 34, 99]

In [120]:
# A similar effect can be achieved with extend()
k.extend([44, 45, 46])
print(k)

[1, 2, 3, 4, 5, 6, 44, 45, 46]

#### Rearrange elements: reverse(), sort(), key

In [122]:
g = [1, 11, 21, 31, 41, 51]
print(g)
g.reverse()
print(g)

[1, 11, 21, 31, 41, 51]
[51, 41, 31, 21, 11, 1]

In [124]:
# Sort list
d = [5, 22, 43, 11, -9, 0, 65, 33]
print(d)
d.sort()
print(d)

[5, 22, 43, 11, -9, 0, 65, 33]
[-9, 0, 5, 11, 22, 33, 43, 65]

In [125]:
d.sort(reverse=True)
print(d)

[65, 43, 33, 22, 11, 5, 0, -9]

In [126]:
# the key parameter is more interesting
w = "the quick brown fox jumps over the lazy dog".split()
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [127]:
w.sort(key=len)
print(w)

['the', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

# Dictionaries
An unordered mapping from unique, immutable keys to mutable values

In [128]:
url = {"Google":"www.google.com",
      "Twitter": "www.twitter.com",
      "WSU":"www.weber.edu"}

print(url['WSU'])

www.weber.edu

In [129]:
# The dict() can convert from other types to dictionaries
names_and_ages = [('Alice',32), ('John', 33),('Maria',20)]
names_and_ages

[('Alice', 32), ('John', 33), ('Maria', 20)]

In [130]:
d = dict(names_and_ages)
print(d)
print(type(d))

{'Alice': 32, 'John': 33, 'Maria': 20}
<class 'dict'>

In [131]:
phonetic = dict(a='alpha', b='bravo', c='charlie', 
                d='delta', e='echo', f='foxtrot')

print(phonetic)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

### Copy dictionaries
As with list, dictionaries copies are **shallow** by default. Use the **copy()** or **dict()** constructor

In [132]:
phonetic = dict(a='alpha', b='bravo', c='charlie', 
                d='delta', e='echo', f='foxtrot')
print(phonetic)
 
pcopy = phonetic.copy() # copy with copy method
print(pcopy)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}
{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

In [133]:
# Second method
f = dict(phonetic)
print(f)

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot'}

### Updating dictionaries with update() method

In [134]:
stocks = {"GOOG":891, "AAPL":416, "IBM":239}
stocks

{'AAPL': 416, 'GOOG': 891, 'IBM': 239}

In [137]:
stocks.update({'GOOG':894, 'YHOO':25})
stocks

{'AAPL': 416, 'GOOG': 894, 'IBM': 239, 'YHOO': 25}

In [138]:
# Iterate over dicts
for key in stocks:
    print(key)

GOOG
AAPL
IBM
YHOO

In [139]:
# iterate over values
for v in stocks.values():
    print(v)

894
416
239
25

In [140]:
# by keys
for v in stocks.keys():
    print(v)

GOOG
AAPL
IBM
YHOO

In [141]:
# Use items() for both key and values
for k, v in stocks.items():
    print(k, "=>", v)

GOOG => 894
AAPL => 416
IBM => 239
YHOO => 25

#### Test for membership for dictionary keys with in and not in

In [142]:
'GOOG' in stocks

True

In [143]:
'WIN' not in stocks

True

#### Removing items from dict with del()

In [144]:
print(stocks)
del(stocks['YHOO'])
print(stocks)

{'GOOG': 894, 'AAPL': 416, 'IBM': 239, 'YHOO': 25}
{'GOOG': 894, 'AAPL': 416, 'IBM': 239}

#### Mutability of dictionaries
We cannot modify the key, but we can modify the values.

In [145]:
isotopes = {'H':[1, 2, 3],
            'He':[3, 4],
            'Li':[6, 7],
            'Be':[7, 8, 10],
            'B':[10, 11],
            'C':[11, 12, 13, 14]}
print(isotopes)

{'H': [1, 2, 3], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [147]:
isotopes['H'] += [4, 5, 6, 7]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [148]:
# Add members
isotopes['N'] = [13, 14, 15]
print(isotopes)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 8, 10], 'B': [10, 11], 'C': [11, 12, 13, 14], 'N': [13, 14, 15]}

To print in a more readable way, use **Pretty printing, pprint**

Note: you need more than 80 characters

In [149]:
from pprint import pprint as pp
pp(isotopes)

{'B': [10, 11],
 'Be': [7, 8, 10],
 'C': [11, 12, 13, 14],
 'H': [1, 2, 3, 4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

# Sets
* An unordered collection of unique, immutable objects
* Use Curly { } to create it.
* Have the set() constructor

Similar to dictionaries, but each item is a single object (no key).

In [150]:
p = {6, 28, 496, 8128, 33550289}
print(p)
print(type(p))

{8128, 6, 496, 33550289, 28}
<class 'set'>

In [151]:
# empty set
e = set()
e

set()

### Duplicates are removed

In [152]:
t = [1, 4, 2, 6, 77, 2, 1, 99]
print(t)
s = set(t)
print(s)

[1, 4, 2, 6, 77, 2, 1, 99]
{1, 2, 99, 4, 6, 77}

### Iterate over set

In [154]:
for x in s:
    print(x)

1
2
99
4
6
77

### Membership testing

In [155]:
q = {2, 9, 6, 4}
3 in q

False

In [156]:
3 not in q

True

### Adding elements to sets. Use add() or update() methods

In [160]:
k = {32, 55}
print(k)
k.add(23)
print(k)

{32, 55}
{32, 23, 55}

In [161]:
# multiple adds
k.update([32, 23, 41])
print(k)

{32, 41, 23, 55}

### Removing elements. Use remove() method

In [162]:
print(k)
k.remove(55)
print(k)

{32, 41, 23, 55}
{32, 41, 23}

In [163]:
print(k)
k.remove(55)
print(k)

{32, 41, 23}

KeyError: 55

In [164]:
# Use the discard method. It will not throw an error 
# if the element does not exist
print(k)
k.discard(98)
print(k)

{32, 41, 23}
{32, 41, 23}

### To copy use copy() or set() constructor

In [165]:
j = k.copy()
print(j)

{32, 41, 23}

In [166]:
m = set(k)
print(m)

{32, 41, 23}

## Set Algebra Operations
It supports the following operations:
* union
* intersection
* difference
* symmetric_difference
* subsets relationships

## Collection Protocols

Protocol | Implementing Collection
---------| -----------------------
Container (in, not in) | str, list, dict, range, tuple, set, bytes
Sized (len) | str, list, dict, range, tuple, set, bytes
Iterable (for) | str, list, dict, range, tuple, set, bytes
Sequence | str, list, range, tuple, bytes
Mutable Sequence | list
Mutable Set | set
Mutable Mapping | dict

# Handling Exceptions

Is a mechanism for stopping normal program flow and continuing at some surrounding context or block of code. 

Key concepts: 
* Raise an exception to interrupt program flow
* Handle an exception to resume control
* Unhandle exception will terminate the program
* Exception objects contain information aobut the exception event. 

Use **try** with **except** block to test code

### Re-Raising exceptions

If you want to capture ALL exceptions use:

*except Exception*

## Exception, APIs, and Protocols

Exceptions are part of a function's API, and more braodly they are part of certain protocols.
* **IndexError** is raised with an integer is out of range. 
* **ValueError** is raised when the object is of the right type, but contains an inappropriate value.
* **KeyError** is raised when a look-up in a mapping fails.

For more info: https://docs.python.org/3.5/library/exceptions.html#concrete-exceptions

# Iterables