## Python Type system

Python can be characterized as having a **dynamic** and **strong** type system.

### Dynamic typing
The **type** of an object isn't resolved until the program in run.

In [1]:
def add(a, b):
    return a + b

# Nowhere in the defenition we mention any types

In [2]:
# call it with integers
add(1, 3)

4

In [3]:
# call it with strings
add("hello", "world")

'helloworld'

In [4]:
# call it with lists
add([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [7]:
# Strong Typing. They need to be the same type
# Try mixed objects
add(str(1), "hello")

'1hello'

## Variable Declaration and Scope

Type declaration are not necessary in Python, and variables are essentially just untyped name binding to objects. 

### Identical anmes in global and local scope
When you need to rebind a global name at module scope follow the next rules: 

#### The LEGB Rule
The are four types of scopes:
* **Local**: names defined inside the currect function
* **Enclosing**: names defined inside any and all enclosing functions. 
* **Global**: names defined at the top-level of a module
* **Built-in**: names built-in to the Python language through the special **builtins** module

# Collections
We have already test these colletions:
* **str** the immutable string sequence of Unicode code points
* **list** the mutable sequence of objects
* **dict** the mutable mapping of immutable keys to mutable objects

Some new collections: 
* **tuple** the immutable sequence of objects
* **range** for arithmetic progression of integers
* **set** a mutable collection of unique, immutable objects

## Tuple
Similar to list but they are delimited by **parenthesis** rather than square brackets

Access members by *index* notation with **[ ]**

In [9]:
t = ("Ogden", 1.99, 2)
print(t)
print(type(t))

('Ogden', 1.99, 2)
<class 'tuple'>

In [10]:
t[0]

'Ogden'

In [11]:
# Get the length
len(t)

3

In [12]:
# Iterate over a tuple
for item in t:
    print(item)

Ogden
1.99
2

### Concatenation and Repetition of Tuples

In [13]:
# Concatenation
t + ("hello", "you", 3)

('Ogden', 1.99, 2, 'hello', 'you', 3)

In [14]:
# Repetition
t * 2

('Ogden', 1.99, 2, 'Ogden', 1.99, 2)

### Nested Tuples

In [15]:
a = ((220, 284), (1184, 1210), (6233, 1234))
a

((220, 284), (1184, 1210), (6233, 1234))

In [16]:
# Access individual members (index notation)
a[2][0]

6233

In [20]:
# Single element tuple
h = (342,) # add a comma at the end
print(h)
print(type(h))

(342,)
<class 'tuple'>

In [21]:
# Empty tuple
e = ()
print(e)
print(type(e))

()
<class 'tuple'>

In [22]:
# Optional parenthesis
p = 1, 1, 3, 7, 2
p

(1, 1, 3, 7, 2)

In [23]:
type(p)

tuple

### Returning and Unpacking Tuples
This is often used when returning multiple values from a function.

In [25]:
# functions returns min and max
def minmax(items):
    return min(items), max(items)

a = minmax([3, 5, 1, -99, 45])
print(a)
print(type(a))

(-99, 45)
<class 'tuple'>

In [26]:
print(a[0])
print(a[1])

-99
45

Returninng multiple values from a function as a tuple is often used in conjunction with a feature called **tuple unpacking**

In [27]:
lower, upper = minmax([3, 5, 1, -99, 45])
print(lower)
print(upper)

-99
45

#### Task:
Swap values of variables with tuple unpacking

In [28]:
a = "jelly"
b = "bean"
print(a)
print(b)
a, b = b, a
print(a)
print(b)

jelly
bean
bean
jelly

### Tuple constructor: tuple(*iterable*)

In [29]:
#list to tuple
tuple([1, 7, 8, 2, 33, 44])

(1, 7, 8, 2, 33, 44)

In [31]:
# string to tuple
tuple("Weber State")

('W', 'e', 'b', 'e', 'r', ' ', 'S', 't', 'a', 't', 'e')

### Test Membership

In [32]:
5 in (3, 5, 7, 11, 77)

True

In [33]:
5 not in (3, 5, 7, 11, 77)

False

# Strings

### Find the size of the string with len()

In [34]:
len("This is a long string")

21

### Concatenation of strings

In [35]:
"New" + " " + "world"

'New world'

In [36]:
s = "Part1"
s += " Part2"
s += " Part3"
s

'Part1 Part2 Part3'

### Joining strings
The recomendation is to sue the built-in **join()** instead of += beacuse is more efficient with memory. 

The **join()** method takes a collection of strings as an argument and produces a new string by inserting a separator between each of them.

In [38]:
teams = ";".join(["Utah Jazz", "LA Lakers", "Boston Celtics"])
print(teams)

Utah Jazz;LA Lakers;Boston Celtics

In [39]:
w = "".join(["high","low"])
w

'highlow'

### Spliting a string with split()

In [40]:
teams.split(';')

['Utah Jazz', 'LA Lakers', 'Boston Celtics']

### Partitioning Strings with partition()
This method returns a tuple.

In [41]:
departure, separator, arrival = "London:Edinburg".partition(':')
print(departure)
print(separator)
print(arrival)

London
:
Edinburg

In [42]:
# Dummy object
departure, _, arrival = "London:Edinburg".partition(':')
print(departure)
print(arrival)

London
Edinburg

### String Formating with format()
This method can be used on any string containing so-called replacement fields which are surrounded by curly braces.

In [43]:
print("The age of {0} is {1}".format("Mario", 21))

The age of Mario is 21

In [44]:
# You can repeat parameter in the string
print("The age of {0} is {1}. {0}'s birthday is on the {2}".format(
'Mario', 21, "February"))

The age of Mario is 21. Mario's birthday is on the February

In [45]:
# If the field names are used once, and int he same
# order as the arguments, they can be ommited
print("Reticulating spline {} of {}".format(4, 23))

Reticulating spline 4 of 23

In [47]:
# keyword arguments are supplied to the format() then named fields
# can be used instead of ordinals:
print("Curent position: {lat} {log}".format(lat="60N", log="5E"))

Curent position: 60N 5E

In [48]:
# you can use index into the sequence using square brackets
print("Galactic position x={pos[0]}, y={pos[1]}, z={pos[2]}".format(
pos=(65.2, 23.1, 82.9)))

Galactic position x=65.2, y=23.1, z=82.9

Other string methods: **>>> help(str)**

# Range use range()
A range is used to represent an arithmetic progression of integers.

In [49]:
range(5)

range(0, 5)

In [50]:
# iterate over it
# Default initial value is 0
for i in range(5):
    print(i)

0
1
2
3
4

In [52]:
# Set the initial value
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [53]:
# cast it to a list
list(range(10, 15))

[10, 11, 12, 13, 14]

In [54]:
# Combine multiple
list(range(5, 10)) + list(range(15, 20))

[5, 6, 7, 8, 9, 15, 16, 17, 18, 19]

In [55]:
# Set the step argument:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
# in reverse order
list(range(20, -1, -1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [61]:
# Not using range to enumerate: The example below is poor style
s = [0, 1, 4, 6, 13]
for i in range(len(s)):
    print(s[i])

0
1
4
6
13

In [63]:
# the above code is VERY unpythonic. 
# Python in NOT C
for v in s:
    print(v)

0
1
4
6
13

IF you need a counter, then use the **enumerate()** function which returns an iterable series:

In [65]:
t = [6, 11, 33, 444, 55, 1]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 11)
(2, 33)
(3, 444)
(4, 55)
(5, 1)

In [66]:
# Unpack the tuple
for i, v in enumerate(t):
    print("i = {0}, v = {1}".format(i, v))

i = 0, v = 6
i = 1, v = 11
i = 2, v = 33
i = 3, v = 444
i = 4, v = 55
i = 5, v = 1